.scroll {
    height: 480px;
    overflow-y: scroll;
}
nav {
  background-color: #CB1B1B;
  width:100%;
}

.logo{
  width:150px;
  margin-top:5px;
}

.videothumb {
  width:100%;
}
.videothumb:hover {
    cursor:pointer;
}

.pushdown{
  margin-bottom:50px;
}

.spangrey{
  color:#606060;
}

.searchtext{
  font-size: 2rem;
}
.searchtext:hover{
   cursor:pointer;
}

.menusortheading {
  color:#777777;
  padding-top: 20px;
}

.search {
  width:50%;
    padding: 6px 15px 6px 30px;
    margin: 3px;
    background: url('../images/search.png') right no-repeat;
     background-position: 95%;
    background-size: 23px;
}



.host {
  width:60px;
  margin: 5px;
}

.hostheading {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hostsect {
  margin-top: 20px;
  margin-bottom: 20px;
}

.topicbackdrop {
  width:100%;
   border-style: solid;
    border-width: 1px;
}